<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".manager.RBQAppManager"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JzPrinter"
        tools:replace="android:theme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<activity
            android:name=".ui.activity.DeviceSelectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ApActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.WifiConfigurationActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.EditionListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.StudentListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.PrintModeSelectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.PrintProgressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.TaskDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.DeepLinkActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="jzprint" android:host="share" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.PrintSettingsActivity"
            android:exported="false" />

        <service
            android:name=".service.PrintService"
            android:foregroundServiceType="connectedDevice"
            android:exported="false" />
        <service
            android:name=".service.DownloadService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />
    </application>

</manifest>